<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>pinBot2</title>
</head>

<body>
    <br>

    <div class="border border-light p-3 mb-4">

        <div class="d-flex align-items-center justify-content-center" style="height: 350px">
            <div class="container-fluid" style="max-width: 200px; margin: 0 auto;">
                <form action="/" method="post">
                    <div class="form-group text-center">
                        <label for="pin" class="text-secondary ">Enter the Pin Number</label>
                        <input name="pin" type="text" class="form-control" id="pin" aria-describedby=""
                            placeholder="00J1824E">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger btn-sm mt-2">Download</button>

                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>